<section class="new-teacher" id="new-teacher">
    <h3>New</h3>
    <p>In this "New" tab, teacher can see all updates from the student who request an approval letter
        such as : Internship Letter, Active Student Letter, and Academic Transcript. Teacher can make a response by 
        using accept or reject button in the response column.
    </p>
    <section class="note" id="note">
        <p>
            Note:
        </p>
        <p>If the teacher can see all records, then there will be a record can be seen but cannot be directly accepted or rejected because 
            the record doesn't need the current role to make that response.
        </p>
    </section>
    
    <img loading="lazy" src="../../static/images/help_guide/teacher_page/newteacher.png" alt="imageerror">
    <p>If teacher accept the request, then it will be forwarded to the operational and the status on student's dashboard
        will be approved by the teacher or HOP (1/2).</p>
    <p>If teacher reject the request, then it will not be forwarded to the operational and the status on student's dashboard
        will be directly rejected.</p>
</section>

<section class="all-teacher" id="all-teacher">
    <h3>All</h3>
    <p>In this "All" tab, teacher can see all request records which are already
       accepted or rejected and also the new incoming request.
    </p>
    <section class="note" id="note">
        <p>
            Note:
        </p>
        <p>If the teacher can see all records, then there will be a record can be seen but cannot be directly accepted or rejected because 
            the record doesn't need the current role to make that response.
        </p>
    </section>
    
    <img loading="lazy" src="../../static/images/help_guide/teacher_page/allteacher.png" alt="imageerror">
</section>

<section class="accepted-teacher" id="accepted-teacher">
    <h3>Accepted</h3>
    <p>In this "Accepted" tab, teacher can see all request records which are already
       accepted by him / her.
    </p>
    <section class="note" id="note">
        <p>
            Note:
        </p>
        <p>If the teacher can see all records, then there will be other records that are already accepted by him / her or other teacher accounts.
        </p>
    </section>
    
    <img loading="lazy" src="../../static/images/help_guide/teacher_page/acceptedteacher.png" alt="imageerror">
</section>

<section class="rejected-teacher" id="rejected-teacher">
    <h3>Rejected</h3>
    <p>In this "Rejected" tab, teacher can see all request records which is
        rejected by him / her.
    </p>
    <section class="note" id="note">
        <p>
            Note:
        </p>
        <p>If the teacher can see all records, then there will be other records that are already rejected by him / her or other teacher accounts.
        </p>
    </section>
    
    <img loading="lazy" src="../../static/images/help_guide/teacher_page/rejectedteacher.png" alt="imageerror">
</section>