<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/orang.png') }}">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student2.css') }}">
    <title>Student | Letter Digitalization</title>
</head>
<body>
    <!----------------------------------------------------------------------------------------------------------->
    <!-- FLASH MESSAGE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="failedsignin" id="failedsignin">
                <div class="failedcontainer">
                    <!----------------------------------------------------------------------------------------------------------->
                    <!-- FLASH IMAGE -->
                    {% if category == "Success" %}
                    <img src="{{ url_for('static', filename='images/success.png') }}" class="failedimage" alt="imageerror">
                
                    {% else %}
                    <img src="{{ url_for('static', filename='images/failed.png') }}" class="failedimage" alt="imageerror">
                
                    {% endif %}
                    <!----------------------------------------------------------------------------------------------------------->
          
                    <!----------------------------------------------------------------------------------------------------------->
                    <!-- FLASH MESSAGE -->
                    <h1>{{ category }}</h1>
                    <p>{{ message }}.</p>
                    {% if category == "Error" %}
                        <p>Please try again.</p>
                    {% endif %}
                    <!----------------------------------------------------------------------------------------------------------->

                    <!----------------------------------------------------------------------------------------------------------->
                    <!-- BACK BUTTON FOR FLASH -->
                    <button type="button" class="test1" onclick="closefailed()"> &#60; Back</button>
                    <!----------------------------------------------------------------------------------------------------------->
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!----------------------------------------------------------------------------------------------------------->


      
    {% set hexagon_top      = url_for('static', filename='images/hexagontop.png') %}
    {% set logokiriatas     = url_for('static', filename='images/logokiriatas.png') %}
    {% set down_arrow       = url_for('static', filename='images/down-arrow.png') %}
    {% set hexagonbottom    = url_for('static', filename='images/hexagonbottom.png') %}
    {% set centang          = url_for('static', filename='images/centang.png') %}
    {% set help_guide     = url_for('static', filename='images/help-guide.png') %}

    <img src="{{ hexagon_top }}" class="hexagontop" alt="imageerror">
    <img src="{{ logokiriatas }}" class="topleft" alt="imageerror">

    <!----------------------------------------------------------------------------------------------------------->
    <!-- HELP GUIDE BUTTON -->
    <div class="help-guide" style="right: 7.5%;">
        <a href="{{ url_for('help_guide_admin') + '#teacher'}}" target="_blank">
            <img src="{{ help_guide }}" alt="imageerror">
        </a>
    </div>
    <!----------------------------------------------------------------------------------------------------------->
    

    <!----------------------------------------------------------------------------------------------------------->
    <!-- MAIN CONTAINER -->
    <div class="maincontainer">

        <!----------------------------------------------------------------------------------------------------------->
        <!-- HEADER THAT CONTAINS CLOCK AND USER DROPDOWN -->
        <div class="topcontainer">
            <!----------------------------------------------------------------------------------------------------------->
            <!-- CLOCK -->
            <span id='ct7'></span>  
            <!----------------------------------------------------------------------------------------------------------->
    
            <!----------------------------------------------------------------------------------------------------------->        
            <!-- USER DROPDOWN -->
            <div class="dropdowncontainer">
                <button class="student1">
                    <p>{{ name }}</p>
                </button>
                <img src="{{ down_arrow }}" class="arrowdrop" alt="imageerror">
                <div class="list" id="myDropdown">
                    <a href="{{ url_for('student_change_password') }}">Change Password</a>
                    <a href="{{ url_for('logout_page') }}">Log Out</a>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------->
    
        </div>
        <!----------------------------------------------------------------------------------------------------------->

        <!----------------------------------------------------------------------------------------------------------->
        <!-- MAIN CONTAINER THAT CONTAINS MAIN TABLE  -->
        <div class="middlecontainer">
            <img src="{{ hexagonbottom }}" class="hexagonbottom" alt="imageerror" style="bottom: 3.75%;">

            <!----------------------------------------------------------------------------------------------------------->
            <!-- ADD BUTTON -->
            <div class="button">
                <button class="button1">+</button>   
            </div>
            <!----------------------------------------------------------------------------------------------------------->
    
            <!----------------------------------------------------------------------------------------------------------->
            <!-- MAIN TABLE -->
            <div class="containertable">
                <table class="headtable"> 
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Subject</th>
                            <th>Sent</th>
                            <th>Progress</th>
                            <th>Last Updated By</th>
                            <th>Last Updated At</th>
                        </tr>
                    </thead>
                    <tbody class="record-table">
                        
                    </tbody>
                </table>
            </div>  
            <!----------------------------------------------------------------------------------------------------------->
    
        </div>
        <!----------------------------------------------------------------------------------------------------------->
    
        <!----------------------------------------------------------------------------------------------------------->
        <!-- PAGE DIV -->
        <div class="next-prev" style="width: 100%;left: 0;">
        {% set page = request.args.get("page")|int %}

        <!-- IF THERE IS PAGE IN URL -->
        {% if page %}
            <!----------------------------------------------------------------------------------------------------------->
            <!-- BACK TO PAGE 1 -->
            {% if page - 1 > 0 %}
                <a href="{{ request.path + '?page=1'}}">&#8249;&#8249;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- PREV PAGE -->
            {% if records.has_prev %}
                <a href="{{ request.path + '?page=%d'|format( page - 1) }}">&#8249;</a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->
            
            <!----------------------------------------------------------------------------------------------------------->
            <!-- TWO PREVIOUS PAGE IF EXISTS -->
            {% if page >= 0 %}
                {% if page - 2 > 0 %}
                <a href="{{ request.path + '?page=%d'|format( page - 2) }}" style="font-size: 0.75rem;">{{page - 2}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}

                {% if page - 1 > 0 %}
                <a href="{{ request.path + '?page=%d'|format( page - 1) }}" style="font-size: 1rem;">{{page - 1}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- CURRENT PAGE -->
            <p>{{page}}</p>
            <!----------------------------------------------------------------------------------------------------------->


            <!----------------------------------------------------------------------------------------------------------->
            <!-- TWO NEXT PAGE IF EXISTS -->
            {% if records.max_page - page >= 0 %}
                {% if records.max_page - page > 0 %}
                <a href="{{ request.path + '?page=%d'|format( page + 1) }}" style="font-size: 1rem;">{{page + 1}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}

                {% if records.max_page - page > 1 %}
                <a href="{{ request.path + '?page=%d'|format( page + 2) }}" style="font-size: 0.75rem;">{{page + 2}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}
            {% else %}
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- NEXT PAGE -->
            {% if records.has_next %}
                <a href="{{ request.path + '?page=%d'|format( page + 1) }}">&#8250;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- JUMP TO LAST PAGE -->
            {% if records.max_page - page > 0 %}
                <a href="{{ request.path + '?page=%d'|format(records.max_page) }}">&#8250;&#8250;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

        <!----------------------------------------------------------------------------------------------------------->
        <!-- IF NOT EXISTS PAGE IS 1 -->
        {% else %}
            <!----------------------------------------------------------------------------------------------------------->
            <!-- BLANK -->    
            <p>&nbsp;</p>
            <!----------------------------------------------------------------------------------------------------------->
        
            <!----------------------------------------------------------------------------------------------------------->
            <!-- CURRENT PAGE -->
            <p>{{1}}</p>
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- TWO NEXT PAGE IF EXISTS -->
            {% if records.max_page > 1 %}
            <a href="{{ request.path + '?page=2' }}" style="font-size: 1rem;">2</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}

            {% if records.max_page > 2 %}
            <a href="{{ request.path + '?page=3' }}" style="font-size: 0.75rem;">3</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- NEXT PAGE IF EXISTS -->
            {% if records.has_next %}
                <a href="{{ request.path + '?page=2'}}">&#8250;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->
            
            <!----------------------------------------------------------------------------------------------------------->
            <!-- JUMP TO LAST PAGE -->
            {% if records.max_page - 1 > 1 %}
                <a href="{{ request.path + '?page=%d'|format(records.max_page) }}">&#8250;&#8250;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->
        {% endif %}
        <!----------------------------------------------------------------------------------------------------------->
    </div>
    
    <!----------------------------------------------------------------------------------------------------------->
    <!-- FOOTER -->
    <footer>
        <div class="project">
            <p>Letter Digitalization v1.0</p>
        </div>
        <div class="year">
            <p style="color: #B0DE61;">&copy; 2022 BASE</p>
        </div>
    </footer>
    <!----------------------------------------------------------------------------------------------------------->
    
    <!----------------------------------------------------------------------------------------------------------->
    <!-- ADD RECORD POPUP -->
    <div class="popup1">
        <div class="containerpopup">
            <!----------------------------------------------------------------------------------------------------------->
            <!-- AVAILABLE CATEGORY RECORD -->
            <div class="pop1">
                <p>CATEGORY</p>
            </div>
            <!----------------------------------------------------------------------------------------------------------->
   
            <!----------------------------------------------------------------------------------------------------------->
            <!-- POPUP PAGE -->
            <div class="pop2">
                <div class="containerinternship containerpopuppage">
                    <!----------------------------------------------------------------------------------------------------------->
                    <!-- AVAILABLE CATEGORY LETTER -->
                    <form action="{{ url_for('student_create_record') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name='category_id' class="category_id">
                        <input type="submit" class="submit-form" style="display: none;">
                        <table>
                            <tbody class="new-record-form">
                                
                            </tbody>
                        </table>
                    </form>
                    <!----------------------------------------------------------------------------------------------------------->
                    
                    <!----------------------------------------------------------------------------------------------------------->
                    <!-- BACK BUTTON -->
                    <div class="back">
                        <button class="back1">
                            <p>Back</p>
                        </button>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------->
   
                    <!----------------------------------------------------------------------------------------------------------->
                    <!-- SUBMIT BUTTON -->
                    <div class="submit">
                        <button class="submit1">
                            <p>Submit</p>
                        </button>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------->
   
                </div>
            </div>   
            <!----------------------------------------------------------------------------------------------------------->
   
        </div>      
    </div>
    <!----------------------------------------------------------------------------------------------------------->
   
</body>
<script>
    /*************************************************************************************************************/
    // DATAS FROM SERVER
    const records = {{ records|tojson }}
    const categories = {{ categories|tojson }}
    /*************************************************************************************************************/
  
    var exports = {}
</script>
<script src="{{ url_for('static', filename='js/basic_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/student/all_student_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/student/main.js') }}"></script>
</html>

