{% extends 'help_guide/help_guide.html' %}

{% block title %}
<title>Help Guide (Teacher) | Letter Digitalization</title>
{% endblock %}

{% block table_of_content %}
<p>Contents</p>
<ul>
    <li><a href="#new-teacher">Accept and reject incoming request</a></li>
    <li><a href="#all-teacher">See all records</a></li>
    <li><a href="#accepted-teacher">See accepted mails</a></li>
    <li><a href="#rejected-teacher">See rejected mails</a></li>
</ul>
<p>Prev</p>
<ul>
    <li><a href="{{ url_for('help_guide_student') }}">Student Page</a></li>
</ul>
<p>Next</p>
<ul>
    <li><a href="{{ url_for('help_guide_admin') }}">Admin Page</a></li>
</ul>
{% endblock %}


{% block introduction %}
<h1>Teacher Page Letter Digitalization</h1>
<p>This page contains all feature that Teacher can do. These are the features that Teacher can do : </p>
<ul>
    <li><a href="#new-teacher">Accept and reject incoming request</a></li>
    <li><a href="#all-teacher">See all records</a></li>
    <li><a href="#accepted-teacher">See accepted mails</a></li>
    <li><a href="#rejected-teacher">See rejected mails</a></li>
</ul>
{% endblock %}


{% block content %}
{% include 'help_guide/teacher_page/teacher_help_guide.html' %}
{% endblock %}