<section class="create-student-account" id="create-student-account">
    <h3>Create account</h3>
    <p>For creating new account, Student need to click an Create An Account located at the bottom right as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/studentsignup.jpg" alt="imageerror">
    <p>After clicking Create An Account button, Student must fill this form as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/createaccount.png" alt="imageerror">
        <ul id="constraint-create-account">
            <li>
                <p>
                    <strong>Name</strong> : Student name.
                    <ul>
                        <li><p>Please insert character only input, example: "Richie Eviendy".</p></li>
                    </ul>
                </p>
            </li>
            <li>
                <p>
                    <strong>NIM</strong> : Student NIM.
                    <ul>
                        <li><p>Please insert number only input, example: "2301919789".</p></li>
                    </ul>
                </p>
            </li>
            
            <li>
                <p>
                    <strong>Jurusan</strong> : Student Major. 
                </p>
            </li>
            <li>
                <p>
                    <strong>Email</strong> : Student binus email.
                    <ul>
                        <li><p>Please insert email with extension of @binus.ac.id, example: "richie@binus.ac.id".</p></li>
                    </ul>
                </p>
            </li>
            <li>
                <p>
                    <strong>Password</strong> : The password of the student's account.
                    <ul>
                        <li><p>Please insert a strong password, example: "BiTco1nTHOTHEmoon".</p></li>
                    </ul>
                </p>
            </li>
            <li>
                <p>
                    <strong>Confirm Password</strong> : Retype password.
                    <ul>
                        <li><p>Please retype the password to make sure the password correct.</p></li>
                    </ul>
                </p>
            </li>        
        </ul>
        <p>After fill the form, student need to click Register button located at the bottom right corner as shown below.</p>
        <img loading="lazy" src="../../static/images/help_guide/student_page/studentregisterbutton.jpg" alt="imageerror">
        <p>If the account is successfully created there is will be pop up as shown below.</p>
        <img loading="lazy" src="../../static/images/help_guide/student_page/signupsuccess.png" alt="imageerror">
        <p>Click back and sign in with the newly created account.</p>
</section>


<section class="student-dashboard" id="student-dashboard">
    <h3>Student dashboard</h3>
    <p>After sign in, there will be a student dashboard as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/studentdashboard.png" alt="imageerror">
    <p>Student can see all record that has been created and see its progress at this page.</p>
</section>

<section class="change-password" id="change-password">
    <h3>Change password</h3>    
    <p>If student want to change password, student must click the Student Name Menu located at top right corner be as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/studentmenu.png" alt="imageerror">
    <p>After click Change Password button, there is will be page as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/studentchangepassword.png" alt="imageerror">
    <p>Fill the form.</p>
        <ul id="constraint-change-password">
            <li>
                <p><strong>Current Password</strong> : Insert the last password of the student's account.</p>
            </li>
            <li>
                <p>
                    <strong>Create New Password</strong> : Insert the new password.
                </p>
            </li>
            <li>
                <p>
                    <strong>Confirm New Password</strong> : Retype the password.
                </p>
            </li>
        </ul>
    <p>After the form is filled up, click submit button.</p>  
    <p>If the password has been successfully changed, the user will be automatically log out and there will be flash message as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/changepasswordlogout.png" alt="imageerror">
</section>

<section class="Add-new-mail" id="Add-new-mail">
    <h3>Add new mail</h3>
    <p>This pop up contains all mail that student can send.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/studentaddnewmail.png" alt="imageerror">
    <p>Choose one of Category mail, and fill the form.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/newmailform.jpg" alt="imageerror">
    <p>After student filled up the form, click submit button, if the mail is successfully sent there is will be pop up as shown below.</p>
    <img loading="lazy" src="../../static/images/help_guide/student_page/mailsentsuccess.jpg" alt="imageerror">
</section>