/***********************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.show {
  display: block;
}

textarea {
  resize: none;
}

input, select, textarea {
  border: none;
  outline: none;
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 13px 15px -2px rgba(0, 0, 0, 0.84);
  width: 80%;
  height: 80%;
  background-color: rgba(245, 222, 179, 0);
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  /***********************************************************************************/
  /***********************************************************************************/
  /***********************************************************************************/
  /***********************************************************************************/
}

.main-container .left-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #74a138;
  background: linear-gradient(180deg, #74a138 0%, #9dd84e 50%, #f5f8a3 100%);
  position: relative;
}

.main-container .right-container {
  width: 70%;
  height: 100%;
  background: #dcdcd1;
  background: linear-gradient(0deg, #dcdcd1 0%, white 50%, #dcdcd1 100%);
  position: relative;
  /***********************************************************************************/
  /***********************************************************************************/
  /***********************************************************************************/
  /***********************************************************************************/
}

.main-container .right-container .up {
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main-container .right-container .down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 5000;
}

.main-container .right-container .down .changepassword {
  color: #547c20;
  z-index: 100;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 80px;
  text-align: center;
}

.main-container .right-container .down div p {
  width: 40%;
  text-align: left;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}

.main-container .right-container .down .createnewpassword,
.main-container .right-container .down .confirmnewpassword {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

.main-container .right-container .down .createnewpassword .crepassword,
.main-container .right-container .down .createnewpassword .conpassword,
.main-container .right-container .down .confirmnewpassword .crepassword,
.main-container .right-container .down .confirmnewpassword .conpassword {
  height: 40%;
  width: 50%;
  border: none;
  padding: 0 30px;
  border-radius: 10px;
  z-index: 500;
  background: linear-gradient(360deg, #d0dbda, #ffffff);
  box-shadow: inset 3px 3px 3px #A9B6AF, inset 3px 3px 3px #F9FFFF;
}

.main-container .right-container .down .submit {
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  height: 50px;
  width: 20%;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
  z-index: 500;
  background: linear-gradient(180deg, #74a138 20%, #9dd84e 80%);
}

.main-container .right-container .down .submit:hover {
  background: #446619;
}

.main-container .right-container .down .submit:active {
  background-color: #2c3a34;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
.background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

/***********************************************************************************/
/***********************************************************************************/
.failedsignin {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #c9c3c3;
  z-index: 2000;
  box-shadow: 1px 1px 42px 500px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 42px 500px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 42px 500px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
}

.failedsignin .failedcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.failedsignin .failedcontainer h1, .failedsignin .failedcontainer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  text-align: center;
}

.failedsignin .failedcontainer p {
  font-size: 1rem;
  padding-top: 5px;
}

.failedsignin .failedcontainer .test1 {
  background: linear-gradient(180deg, #74a138 20%, #9dd84e 80%);
  color: white;
  padding: 12px 0px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin: 12px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 16px;
  border-radius: 70px;
  box-shadow: 0px 8px 0px 0px rgba(76, 131, 95, 0.2);
}

.failedsignin .failedcontainer .test1:hover {
  background: #446619;
}

.failedsignin .failedcontainer .test1:active {
  background-color: #2c3a34;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.failedsignin .failedcontainer .forgotbot {
  display: flex;
  padding-top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #494444;
  margin: 0 auto;
  font-size: 8px;
}

.failedsignin .failedcontainer .forgotbot:hover {
  color: #5b52e4;
  text-decoration: underline;
}

.failedsignin .failedcontainer .failedimage {
  width: 25%;
  margin: 0 auto;
}

/***********************************************************************************/
/***********************************************************************************/
.topleft {
  position: absolute;
  z-index: -1;
  left: 1%;
  top: 0;
  height: 18%;
  width: 15%;
}

.hexagontop {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.hexagonbottom {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.bawahkiri {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mail {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 12vw;
}

.bottomleft {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.topright {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.image1, .image2, .tophex, .bothex {
  position: absolute;
  z-index: 100;
  width: 75%;
  height: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image2, .tophex, .bothex {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.tophex, .bothex {
  left: 20%;
}

.bothex {
  left: 50%;
  z-index: 1;
}

.logo {
  position: absolute;
  z-index: 50;
  width: 30%;
  height: 30%;
  top: 0;
  right: 5%;
}

.doodlekanan {
  position: absolute;
  right: 0;
  width: 30%;
}

/***********************************************************************************/
/*# sourceMappingURL=reset_password2.css.map */