/***********************************************************************************/
// THIS STYLE IS FOR THE CLOCK IN THE DASHBOARD
/***********************************************************************************/
#ct7{
    position: absolute;
    bottom: 0;
    left: 17%;
    font-family: 'Poppins', sans-serif;
}