<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/surat.css">
  <title>Surat</title>
  
</head>
<body>
  <div class="maincontainer">
    <!----------------------------------------------------------------------------------------------------------->
    <!-- BINUS ASO LOGO -->
    <div class="header">
      <img src="http://127.0.0.1:5000/static/images/logokiriatas.png" class="logo" alt="imageerror">
    </div>
    <!----------------------------------------------------------------------------------------------------------->
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!----------------------------------------------------------------------------------------------------------->
    <!-- CONTENT OF LETTER -->
    <div class="content">
        <p>Tangerang, {{data.date|safe}} {{data.month|safe}} {{data.year|safe}}</p>
        <br>
        <p>No<span>: {{data.no|safe}}/Dean.BASE/{{data.bulan_terbit|safe}}/{{data.year|safe}}</span></p>
        <p>Subject<span>: {{data.subject|safe}}</span></p>
        <br>
        <p>Dear Respected Top Management:</p>
        <p>{{data.nama_perusahaan|safe}}</p>
        <p>{{data.alamat_perusahaan|safe}}</p>
        <br>
        <p>To Whom It May Concern;</p>
        <p>Herewith, through this letter, out Institution, which is BINUS ASO School of Engineering (BASE), Binus University, conveys the Introductory Statement Letter. The aforementioned letter is intended to acknowledge the student’s active status in BASE, Binus University.</p>
        <p>The aforementioned student name, from the designated schedule and onward, conducts Internship Activities, as one of requirements to obtain Bachelor of Science, known as Sarjana Teknik.</p>
        <p>Therefore, It is professional standard and great expectation for Respected Top Management of {{data.nama_perusahaan|safe}}, to provide Internship Opportunity for the aforementioned student name:</p>
        <p>Precisely, the following student is professionally to conduct the assignment and objectives according to practical and implementation of {{data.major|safe}} and its multidisciplinary.</p>
        <br>
        <p>Name<span>: {{data.name|safe}}</span></p>
        <p>NIM<span>: {{data.nim|safe}}</span></p>
        <p>Program<span>: {{data.major|safe}}</span></p>
        <br>
        <p>The objective of this Internship is to achieve objectives within implementations that student has learned through years prior Internship, as hard skills within technical competencies in solving real professional world problem on the field. In addition of the aforementioned hard skills, then, the soft skills in term of the plausible and professional attitudes, behaviors and competences are required from the student through lifelong learning and continuous improvement spirit.</p>
        <p>To Conclude, Highest Gratitude is conveyed to respected Top Management of {{data.nama_perusahaan|safe}}.</p>
    </div>
    <!----------------------------------------------------------------------------------------------------------->
   
    <br>
    <br>
    <!----------------------------------------------------------------------------------------------------------->
    <!-- DEAN SIGN -->
    <div class="sign">
      <p>
        Sincerely Yours,
      </p>
      {%- if accepted %}
        <img src="http://127.0.0.1:5000/static/images/digital_signature.png">
      {%- else %}
        <br>
        <br>
        <br>
        <br>
      {%- endif %}
      <p>
        __________________________
      </p>
      <p>
        Dr. Ir. Ho Hwi Chie, MSc, IPU
      </p>
      <p>Dean</p>
      
    </div>
    <!----------------------------------------------------------------------------------------------------------->
   
      
    <br>
    <br>
    <!----------------------------------------------------------------------------------------------------------->
    <!-- FOOTER OF LETTER -->
    <div class="footer">
      <h1>Binus Aso School of Engineering (BASE), BASE Campus</h1>
      <p>Jl. Alam Sutera Boulevard No.1 Alam Sutera – Serpong, Tangerang Banten 15325</p>
      <p>t. (+6221) 5369 6969 ext. 6614, 6615, 6616, f. (+6221) 5350 655 http://base.binus.ac.id</p>
    </div>
    <!----------------------------------------------------------------------------------------------------------->
   
  </div>
</body>
</html>