<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/orang.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin2.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Admin | Letter Digitalization</title>
</head>
<body>
    <!----------------------------------------------------------------------------------------------------------->
    <!-- FLASH MESSAGE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="failedsignin" id="failedsignin">
            <div class="failedcontainer">
                <!----------------------------------------------------------------------------------------------------------->
                <!-- FLASH IMAGE -->
                {% if category == "Success" %}
                <img src="{{ url_for('static', filename='images/success.png') }}" class="failedimage" alt="imageerror">
            
                {% else %}
                <img src="{{ url_for('static', filename='images/failed.png') }}" class="failedimage" alt="imageerror">
            
                {% endif %}
            
                <!----------------------------------------------------------------------------------------------------------->
                <!-- FLASH MESSAGE -->
                <h1>{{ category }}</h1>
                <p>{{ message }}.</p>
                {% if category == "Error" %}
                    <p>Please try again.</p>
                {% endif %}
                <!-- BACK BUTTON FOR FLASH -->
                <button type="button" class="test1" onclick="closefailed()"> &#60; Back</button>
                <!----------------------------------------------------------------------------------------------------------->
  
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!----------------------------------------------------------------------------------------------------------->
  
    <!----------------------------------------------------------------------------------------------------------->
    <!-- IMAGE PATH -->
    {% set addButton      = url_for('static', filename='images/addbtn.png') %}
    {% set logokiriatas   = url_for('static', filename='images/logokiriatas.png') %}
    {% set hexagontop     = url_for('static', filename='images/hexagontop.png') %}
    {% set downArrow      = url_for('static', filename='images/down-arrow.png') %}
    {% set hexagonBottom  = url_for('static', filename='images/hexagonbottom.png') %}
    {% set bawahKiri      = url_for('static', filename='images/bawahkiri.png') %}
    {% set mail           = url_for('static', filename='images/mail.png') %}
    {% set help_guide     = url_for('static', filename='images/help-guide.png') %}
    <!----------------------------------------------------------------------------------------------------------->
        
    <!----------------------------------------------------------------------------------------------------------->
    <!-- BLOCK FOR ADD BUTTON -->
    {% block addbutton %}
    {% endblock %}
    <!----------------------------------------------------------------------------------------------------------->
  
    <!----------------------------------------------------------------------------------------------------------->
    <!-- BLOCK FOR HELP GUIDE BUTTON -->
    {% block help_guide %}
    {% endblock %}
    <!----------------------------------------------------------------------------------------------------------->
        
    <!----------------------------------------------------------------------------------------------------------->
    <!-- BLOCK FOR ADD POPUP WINDOW -->
    <div class="form-popup" style="display: none;" id="myForm">
    {% block addpopup %}
    {% endblock %}
    </div>
    <!----------------------------------------------------------------------------------------------------------->
  
    <!----------------------------------------------------------------------------------------------------------->
    <!-- BLOCK FOR EDIT POPUP WINDOW -->
    {% block edit_delete_form %}
    {% endblock %}  
    <img src="{{ logokiriatas }}" class="topleft" alt="imageerror">
    <img src="{{ hexagontop }}" class="hexagontop" alt="imageerror">

    <!----------------------------------------------------------------------------------------------------------->
    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <!----------------------------------------------------------------------------------------------------------->
        <!-- HEADER THAT CONTAINS CLOCK AND USER DROPDOWN -->
        <div class="top-container">
            <!----------------------------------------------------------------------------------------------------------->
            <!-- CLOCK -->
            <span id='ct7'></span>
            <!----------------------------------------------------------------------------------------------------------->
  
            <div class="dropdown">
                <button class="user">
                    <p>{{ name }}</p>
                    <img src="{{ downArrow }}" class="downarrow" alt="imageerror">
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ url_for('admin_update_password') }}"> Change Password</a>
                    <a href="{{ url_for('logout_page') }}"> Log Out</a>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------->
        
        <!----------------------------------------------------------------------------------------------------------->
        <!-- JUST A LINE THAT SEPERATES HEADER AND MAIN TABLE -->
        <div class="mid-container"></div>
        <!----------------------------------------------------------------------------------------------------------->

        <!----------------------------------------------------------------------------------------------------------->
        <!-- MAIN CONTAINER THAT CONTAINS DATA -->
        <div class="bottom-container">
            <img src="{{ hexagonBottom }}" class="hexagonbottom" alt="imageerror">
            
            <!----------------------------------------------------------------------------------------------------------->
            <!-- SIDEBAR -->
            <div class="tab">
                {% block dropdown_sidebar %}
                
                {% endblock %}
            </div>
            <!----------------------------------------------------------------------------------------------------------->
            
            <!----------------------------------------------------------------------------------------------------------->
            <!-- TABLES -->
            <div class="tabcontent" style="display: block">
                <div class="maintable">
                    <table class="head" style="width: 100%">
                    <thead class="table-header">
                    </thead>
                    <tbody class="table-body">
                    </tbody>
                    </table>
                </div>
                
            </div>
            <!----------------------------------------------------------------------------------------------------------->
        
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------->
   
    <!----------------------------------------------------------------------------------------------------------->
    <!-- PAGE DIV -->
    <div class="next-prev">
        {% set page = request.args.get("page")|int %}

         <!-- IF THERE IS PAGE IN URL -->
        {% if page %}
            <!----------------------------------------------------------------------------------------------------------->
            <!-- BACK TO PAGE 1 -->
            {% if page - 1 > 0 %}
                <a href="{{ request.path + '?page=1'}}">&#8249;&#8249;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- PREV PAGE -->
            {% if datas.has_prev %}
                <a href="{{ request.path + '?page=%d'|format( page - 1) }}">&#8249;</a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->
            
            <!----------------------------------------------------------------------------------------------------------->
            <!-- TWO PREVIOUS PAGE IF EXISTS -->
            {% if page >= 0 %}
                {% if page - 2 > 0 %}
                <a href="{{ request.path + '?page=%d'|format( page - 2) }}" style="font-size: 0.75rem;">{{page - 2}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}

                {% if page - 1 > 0 %}
                <a href="{{ request.path + '?page=%d'|format( page - 1) }}" style="font-size: 1rem;">{{page - 1}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}

            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- CURRENT PAGE -->
            <p>{{page}}</p>
            <!----------------------------------------------------------------------------------------------------------->


            <!----------------------------------------------------------------------------------------------------------->
            <!-- TWO NEXT PAGE IF EXISTS -->
            {% if datas.max_page - page >= 0 %}
                {% if datas.max_page - page > 0 %}
                <a href="{{ request.path + '?page=%d'|format( page + 1) }}" style="font-size: 1rem;">{{page + 1}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}

                {% if datas.max_page - page > 1 %}
                <a href="{{ request.path + '?page=%d'|format( page + 2) }}" style="font-size: 0.75rem;">{{page + 2}}</a>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}

            {% else %}
            <p>&nbsp;</p>
            <p>&nbsp;</p>
                
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- NEXT PAGE -->
            {% if datas.has_next %}
                <a href="{{ request.path + '?page=%d'|format( page + 1) }}">&#8250;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- JUMP TO LAST PAGE -->
            {% if datas.max_page - page > 0 %}
                <a href="{{ request.path + '?page=%d'|format(datas.max_page) }}">&#8250;&#8250;</a>
            {% else %}
            <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->

        <!----------------------------------------------------------------------------------------------------------->
        <!-- IF NOT EXISTS PAGE IS 1 -->
        {% else %}

             <!----------------------------------------------------------------------------------------------------------->
            <!-- BLANK -->    
            <p>&nbsp;</p>
            <!----------------------------------------------------------------------------------------------------------->
        
            <!----------------------------------------------------------------------------------------------------------->
            <!-- CURRENT PAGE -->
            <p>{{1}}</p>
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- TWO NEXT PAGE IF EXISTS -->
            {% if datas.max_page > 1 %}
                <a href="{{ request.path + '?page=2' }}" style="font-size: 1rem;">2</a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}

            {% if datas.max_page > 2 %}
                <a href="{{ request.path + '?page=3' }}" style="font-size: 0.75rem;">3</a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <!----------------------------------------------------------------------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!-- NEXT PAGE IF EXISTS -->
            {% if datas.has_next %}
                <a href="{{ request.path + '?page=2'}}">&#8250;</a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->
            
            <!----------------------------------------------------------------------------------------------------------->
            <!-- JUMP TO LAST PAGE -->
            {% if datas.max_page - 1 > 1 %}
                <a href="{{ request.path + '?page=%d'|format(records.max_page) }}">&#8250;&#8250;</a>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}
            <!----------------------------------------------------------------------------------------------------------->
        {% endif %}
        <!----------------------------------------------------------------------------------------------------------->
        
    </div>

    <!----------------------------------------------------------------------------------------------------------->
    <!-- FOOTER -->
    <footer>
        <div class="project">
            <p>Letter Digitalization v1.0</p>
        </div>
        <div class="year">
            <p style="color: #B0DE61;">&copy; 2022 BASE</p>
        </div>
    </footer>
    <!----------------------------------------------------------------------------------------------------------->
  

</body>
<script>
    /*************************************************************************************************************/
    // DATAS FROM SERVER
    var datas = {{ datas|tojson }}
    {% if available_jurusan %}
    const available_jurusan = {{ available_jurusan|tojson }}
    {% endif %}
    /*************************************************************************************************************/
  
    var exports = {}
</script>
<script src="{{ url_for('static', filename='js/basic_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/all_admin_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/main.js') }}"></script>

<!----------------------------------------------------------------------------------------------------------->
<!-- ADDITIONAL SCRIPT -->
{% block script %}
{% endblock %}
<!----------------------------------------------------------------------------------------------------------->
</html>