/***********************************************************************************/
// THIS STYLE IS FOR THE LETTER TEMPLATE
/***********************************************************************************/
body{
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}
p{
    position: relative;
    line-height: 1.25rem;
    
    text-align: justify;
}
span{
    position: absolute;
    left: 37.5%;
    
    line-height: 1.25rem;
}

/***********************************************************************************/
// MAIN CONTAINER
.maincontainer{
    margin: 1% 0;
    /***********************************************************************************/
    // HEADER LOGO
    .header{
        width: 100%;
        height: 12%;
        position: relative;
        .logo{
            position: absolute;
            width: 30%;
            padding-left: 2%;
        }
    }
    /***********************************************************************************/

    /***********************************************************************************/
    // CONTENT LETTER
    .content{
        width: 90%;
        height: 80%;
        padding-left: 40px;
        text-align: justify;
    }
    /***********************************************************************************/
    
    /***********************************************************************************/
    // SIGN IMAGE
    .sign{
        p, img{
            padding-left: 40px;
        }
    }
    /***********************************************************************************/

    /***********************************************************************************/
    // FOOTER LETTER
    .footer{
        padding-left: 30px;
    }
    /***********************************************************************************/
}
/***********************************************************************************/
