<section class="record-admin" id="record-admin">
    <h1>Records</h1>
    <p>In this "Records" tab, admin can see all accepted, rejected, and in progress request</p>
    <img loading="lazy" src="../../static/images/help_guide/admin_record/recordsadmin.png" alt="imageerror">
    <p>In the picture above, we can see there is three colors which indicates the progress of each records</p>
    <ul>
        <li><p>Grey: the record still in progress</p></li>
        <li><p>Green: the record has already accepted</p></li>
        <li><p>Red: the record has already rejected</p></li>
    </ul>
</section>
