<section class="teacher" id="teacher">
    <h1>Teacher</h1>
    <p>This subpage of admin page handles all actions that admin can do with the all teacher account.</p>
    <section class="add-teacher" id="add-teacher">
        <h3>Add New Teacher</h3>
        <p>For adding new teacher, you need to click an add button located at the corner bottom right as shown below.</p>
        <img loading="lazy" src="{{ url_for('static', filename='images/help_guide/admin_teacher/add_button_help_guide.png') }}" alt="imageerror">
        <p>After clicking add button, there will be a popup window for the user to add new teacher account as shown below.</p>
        <img loading="lazy" src="{{ url_for('static', filename='images/help_guide/admin_teacher/popup_window_help_guide.png') }}" alt="imageerror">
        <p>
            In this popup window, there is some constraint for adding new teacher as shown below.
            <ul id="constraint-add-teacher">
                <li>
                    <p>
                        <strong>Name</strong> : The name of the teacher.
                        <ul>
                            <li><p>Please insert character only input, example: "Endra Oey".</p></li>
                        </ul>
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Jabatan</strong> : The current position of the teacher
                        <ul>
                            <li><p>Please insert character only input, example: "HOP".</p></li>
                        </ul>
                    </p>
                </li>
                
                <li>
                    <p>
                        <strong>Jurusan</strong> : The major that the teacher is responsible. 
                        <ul>
                            <li><p><strong>Please insert full name of the major</strong>, example: Automotive and Robotics Engineering</p></li>
                            <li><p>Can leave blank if the teacher takes responsibility of all major.</p></li>
                        </ul>
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Email</strong> : The binus email of the teacher
                        <ul>
                            <li><p>Please insert character only input, example: "endra@binus.ac.id".</p></li>
                            <li><p>Please insert email with extension of @binus.ac.id, example: "endra@binus.ac.id".</p></li>
                            <li><p>Please insert a unique email</p></li>
                        </ul>
                    </p>
                </li>        
                <li><p><strong>Can see records</strong> : Whether the teacher can supervise or see all records according to their major and will receive the cc everytime the record is accepted or rejected.</p></li>
            </ul>
        </p>
        <p>After inserting forms, just click submit.
        <p>If success, there will be a popup that show the success message and the teacher account is ready to be used.</p>
        <p>If error, there will be a popup that show the error message and the teacher account is not created.</p>
        <section class="note" id="note">
            <p>
                Note:
            </p>
            <p>When a new teacher account is created, the password of the account it the lowercase of the first name before space plus 123.
                <br> Example: Name: Endra Oey. Password: endra123</p>
        </section>
    </section>

    <section class="edit-teacher" id="edit-teacher">
        <h3>Edit Teacher</h3>
        <p>For editing teacher, you need to click an edit button located at the left button of the actions column as shown below.</p>
        <img loading="lazy" src="{{ url_for('static', filename='images/help_guide/admin_teacher/edit_button_help_guide.png') }}" alt="imageerror">
        <p>After clicking edit button, there will be a popup window for the user to edit teacher account as shown below.</p>
        <img loading="lazy" src="{{ url_for('static', filename='images/help_guide/admin_teacher/popup_window_edit_help_guide.png') }}" alt="imageerror">
        <p>
            In this popup, the user can edit the teacher account.
            In this popup window, the constraint for editting the teacher account is the same as the constraint for <a href="#constraint-add-teacher">adding new teacher account</a>.
        </p>
        <p>If already done editting the teacher account, just click the submit button.</p>
        <p>If success, there will be a popup that show the success message and the teacher account will be editted.
        <p>If error, there will be a popup that show the error message and the teacher account will not be editted.</p>
        <section class="note" id="note">
            <p>
                Note:
            </p>
            <p>When a teacher account is successfully editted, the password of the account will stay the same.
        </section>
    </section>

    <section class="delete-teacher" id="delete-teacher">
        <h3>Delete Teacher</h3>
        <p>For deleting teacher, you need to click an trash button located at the right button of the actions column as shown below.</p>
        <img loading="lazy" src="{{ url_for('static', filename='images/help_guide/admin_teacher/delete_button_help_guide.png') }}" alt="imageerror">
        <p>After clicking delete button, there will be confirmation alert to confirm the actions. The confirmation alert will be as shown below.</p>
        <img loading="lazy" src="{{ url_for('static', filename='images/help_guide/admin_teacher/confirmation_delete_button_help_guide.png') }}" alt="imageerror">
        <p>If yes, then there will be a success popup the teacher account will be deleted.</p>
        <p>If no, then there will be no actions.</p>
    </section>
</section>