<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/orang.png') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password2.css') }}">
  <title>
    {{ user_role }} | Letter Digitalization</title>

</head>
<body>
  <!----------------------------------------------------------------------------------------------------------->
  <!-- IMAGE PATH -->
  {% set bgimage            = url_for('static', filename='images/webdesign.png') %}
  {% set bottom_left_image  = url_for('static', filename='images/bottomleft.png') %}
  {% set top_right_image    = url_for('static', filename='images/topright.png') %}
  {% set passbawahkiri      = url_for('static', filename='images/passbawahkiri.png') %}

  {% set doodle             = url_for('static', filename='images/doodle.png') %}
  {% set tophex             = url_for('static', filename='images/tophex.png') %}
  {% set bothex             = url_for('static', filename='images/bothex.png') %}
  {% set logo               = url_for('static', filename='images/logo.png') %}
  {% set centang               = url_for('static', filename='images/centang.png') %}

  <!----------------------------------------------------------------------------------------------------------->
  <!-- DOODLES -->
  <img src="{{ bgimage }}" class="background" alt="imageerror">
  <img src="{{ bottom_left_image }}" class="bottomleft" alt="imageerror">
  <img src="{{ top_right_image }}" class="topright" alt="imageerror">
  <!----------------------------------------------------------------------------------------------------------->

  <!----------------------------------------------------------------------------------------------------------->
  <!-- MAIN BODY -->
  <div class="main-container">

    <!----------------------------------------------------------------------------------------------------------->
    <!-- LEFT CONTAINER THAT HAS IMAGE MAIL -->
    <div class="left-container">
      <img src="{{ passbawahkiri }}" class="image1" alt="imageerror">
      <img src="{{ doodle }}" class="image2" alt="imageerror">     
    </div>
    <!----------------------------------------------------------------------------------------------------------->

    <!----------------------------------------------------------------------------------------------------------->
    <!-- MAIN FORM THAT NEEDS TO BE FILLED FOR CHANGING THE PASSWORD -->
    {% if user_role == "Student" %}
    <form action="{{ url_for('student_update_password') }}" method="POST" class="right-container">
    {% elif user_role == "Teacher" %}
    <form action="{{ url_for('teacher_update_password') }}" method="POST" class="right-container">
    
    {% elif user_role == "Admin" %}
    <form action="{{ url_for('admin_change_password') }}" method="POST" class="right-container">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <img src="{{ tophex }}" class="tophex" alt="imageerror">
      <img src="{{ bothex }}" class="bothex" alt="imageerror">
      <img src="{{ logo }}" class="logo" alt="imageerror">
      <!----------------------------------------------------------------------------------------------------------->
      <!-- FORM -->
      <div class="down">
        <div class="changepassword">
          <h1>CHANGE PASSWORD</h1>
        </div>
        <div class="currentpassword">
          <p>CURRENT PASSWORD*</p>
          <input type="password" name="currentpassword" class="curpassword" required>
        </div>
        <div class="createnewpassword">
          <p>CREATE NEW PASSWORD*</p>  
          <input type="password" name="createnewpassword" class="crepassword" required>
        </div>
        <div class="confirmnewpassword">
          <p>CONFIRM NEW PASSWORD*</p>  
          <input type="password" name="confirmnewpassword" class="conpassword" required>
        </div>
        
        <button class="submit">
          <p> SUBMIT </p>
        </button>
      </div>
      <!----------------------------------------------------------------------------------------------------------->
    </form>
    <!----------------------------------------------------------------------------------------------------------->
  </div>
  <!----------------------------------------------------------------------------------------------------------->
</body>

<script>var exports = {};</script>
<script src="{{ url_for('static', filename='js/basic_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/login/all_login_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/change_password2.js') }}"></script>
</html>