<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password2.css') }}">
  <title>Reset Password | Letter Digitalization</title>

</head>
<body>
  <!----------------------------------------------------------------------------------------------------------->
  <!-- IMAGE PATH -->
  {% set bgimage            = url_for('static', filename='images/webdesign.png') %}
  {% set bottom_left_image  = url_for('static', filename='images/bottomleft.png') %}
  {% set top_right_image    = url_for('static', filename='images/topright.png') %}
  {% set passbawahkiri      = url_for('static', filename='images/passbawahkiri.png') %}
  {% set doodle             = url_for('static', filename='images/doodle.png') %}
  {% set tophex             = url_for('static', filename='images/tophex.png') %}
  {% set bothex             = url_for('static', filename='images/bothex.png') %}
  {% set logo               = url_for('static', filename='images/logo.png') %}
  <!----------------------------------------------------------------------------------------------------------->
  
  <!----------------------------------------------------------------------------------------------------------->
  <!-- FLASH MESSAGE -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="failedsignin" id="failedsignin">
        <div class="failedcontainer">
          <!----------------------------------------------------------------------------------------------------------->
          <!-- FLASH IMAGE -->
          {% if category == "Success" %}
          <img src="{{ url_for('static', filename='images/centang.png') }}" class="failedimage" alt="imageerror">
         
          {% else %}
          <img src="{{ url_for('static', filename='images/failed.png') }}" class="failedimage" alt="imageerror">
          
          {% endif %}
          <!----------------------------------------------------------------------------------------------------------->
          
          <!----------------------------------------------------------------------------------------------------------->
          <!-- FLASH MESSAGE -->
          <h1>{{ category }}</h1>
          <p>{{ message }}.</p>
          {% if category == "Error" %}
            <p>Please try again.</p>
          {% endif %}
          <!----------------------------------------------------------------------------------------------------------->
          
          <!----------------------------------------------------------------------------------------------------------->
          <!-- BUTTON BACK FOR FLASH -->
          <button type="button" class="test1" onclick="closefailed()"> &#60; Back</button>
          <!----------------------------------------------------------------------------------------------------------->
  
        </div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!----------------------------------------------------------------------------------------------------------->
  
  <img src="{{ bgimage }}" class="background" alt="imageerror">
  <img src="{{ bottom_left_image }}" class="bottomleft" alt="imageerror">
  <img src="{{ top_right_image }}" class="topright" alt="imageerror">

  <!----------------------------------------------------------------------------------------------------------->
  <!-- MAIN CONTAINER -->
  <div class="main-container">
    <!----------------------------------------------------------------------------------------------------------->
    <!-- IMAGE DOODLES -->
    <div class="left-container">
      <img src="{{ passbawahkiri }}" class="image1" alt="imageerror">
      <img src="{{ doodle }}" class="image2" alt="imageerror">     
    </div>
    <!----------------------------------------------------------------------------------------------------------->
  
    <!----------------------------------------------------------------------------------------------------------->
    <!-- RESET PASSWORD MAIN FORM -->
    <form action="{{ url_for('reset_password') }}" method="POST" class="right-container">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <img src="{{ tophex }}" class="tophex" alt="imageerror">
      <img src="{{ bothex }}" class="bothex" alt="imageerror">
      <img src="{{ logo }}" class="logo" alt="imageerror">
      <input type="hidden" name="userid" value={{id}}>
      <div class="down">
        <div class="changepassword">
          <h1>RESET PASSWORD</h1>
        </div>
        <div class="createnewpassword">
          <p>CREATE NEW PASSWORD*</p>  
          <input type="password" name="createnewpassword" class="crepassword">
        </div>
        <div class="confirmnewpassword">
          <p>CONFIRM NEW PASSWORD*</p>  
          <input type="password" name="confirmnewpassword" class="conpassword">
        </div>
          <button class="submit">
            <p> SUBMIT </p>
          </button>
      </div>
    </form>
    <!----------------------------------------------------------------------------------------------------------->
  
  </div>
  <!----------------------------------------------------------------------------------------------------------->
    
  
  
</body>
<script>var exports = {};</script>
<script src="{{ url_for('static', filename='js/basic_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/login/all_login_class.js') }}"></script>
<script src="{{ url_for('static', filename='js/login/reset_password.js') }}"></script>
</html>